.mainBackground {
-fx-background-color:white;
}

.vBoxStyle {
-fx-background-color: #E4F6F8;
}

.addButton {
-fx-background-color: silver;
-fx-background-radius: 5;
}

.addButton:hover {
-fx-background-color: #adadad;
-fx-background-radius: 5;
    -fx-cursor: hand;
}

.cancelButton {
-fx-background-color: lightgrey;
-fx-background-radius: 5;
}

.cancelButton:hover {
-fx-background-color: #bebebe;
-fx-background-radius: 5;
    -fx-cursor: hand;
}

.combo-box {
    -fx-background-color: whitesmoke;
    -fx-border-color: silver;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-family: 'Arial';
}

.combo-box:hover {
    -fx-background-color: whitesmoke;
    -fx-border-color: silver;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-family: 'Arial';
    -fx-cursor: hand;
}

.combo-box .list-view .list-cell {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.combo-box .list-view .list-cell:hover{
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
    -fx-cursor: hand;
}

.warning {
    -fx-text-fill: orangered;
}

.datePicker:hover {
-fx-cursor: hand;
}
