.text {
-fx-alignment: center;
-fx-background-color: white;
}

.accordion {
-fx-background-color: white;
}

.accordion .titled-pane .title{
-fx-background-color: powderblue;
-fx-border-color: whitesmoke;
-fx-border-width: 2px;
}