.mainBackground {
-fx-background-color:white;
}

.forms {
-fx-background-color: whitesmoke;
}

.mediumTitle {
-fx-background-color:powderblue;
}

.welcomeMessage {
-fx-background-color:lightsalmon;
}

.mainButton {
-fx-background-color:silver;
-fx-background-radius: 40;
}

.sideButton {
-fx-background-color:lightgrey;
-fx-background-radius: 40;
}

.bottomStatusBar {
-fx-background-color: powderblue;
}

.bottomStatusBarDate {
-fx-background-color:powderblue;
-fx-font-weight: bold;
-fx-font-style: italic;
}

.topMenuBar {
-fx-background-color:powderblue;
}

.tableViewFrame {
-fx-background-color: #E4F6F8;
}

.subjectsTasksTableView .column-header {
	-fx-background-color: whitesmoke;
	-fx-border-color: white;
}

.subjectsTasksTableView {
	-fx-background-color: white;
	-fx-border-color: white;
}

.redButtons {
-fx-background-color: whitesmoke;
-fx-background-radius: 10;
}

.toDoButton {
-fx-background-color: lightsalmon;
-fx-background-radius: 10;
}

.addButtons {
-fx-background-color:silver;
-fx-background-radius: 10;
}

.toDoButton {
-fx-background-color:powderblue;
-fx-background-radius: 10;
}