.mainButton {
-fx-background-color:silver;
-fx-background-radius: 40;
}

.sideButton {
-fx-background-color:lightgrey;
-fx-background-radius: 40;
}

.mainBackground {
-fx-background-color:white;
}

.tableViewFrame {
-fx-background-color: #E4F6F8;
}

.subjectsTasksTableView .column-header {
	-fx-background-color: whitesmoke;
	-fx-border-color: white;
}

.subjectsTasksTableView .cell {
    -fx-text-fill: black;
    -fx-font-size: 10pt;
    -fx-font-weight:bold;
    -fx-border-color:white;
    -fx-alignment: center;
}

.subjectsTasksTableView {
	-fx-background-color: white;
	-fx-border-color: white;
}

.subjectsTasksTableView .table-row-cell:selected {
	-fx-background-color: powderblue;
}

.subjectsTasksTableView .table-row-cell:filled:selected .table-cell{
	-fx-text-fill: azure;
}


.subjectsTasksTableView .table-row-cell:selected .table-cell{
	-fx-text-fill: black;
}

.toDoButton {
-fx-background-color: lightsalmon;
-fx-background-radius: 10;
}

.addButtons {
-fx-background-color:silver;
-fx-background-radius: 10;
}

.toDoButton {
-fx-background-color:powderblue;
-fx-background-radius: 10;
}

.removeButton {
-fx-background-color:lightcoral;
-fx-background-radius: 40;
}